PORT=5000
MONGO_URL=mongodb+srv://blockchain:certificate@cluster0.mtrsk.mongodb.net/
ACCESS_TOKEN_SECRET=blockchain
REFRESH_TOKEN_SECRET=certificate
METAMASK_PRIVATE_KEY = 
CONTRACT_ADDRESS = 
RPC_PROVIDER = "https://rpc-amoy.polygon.technology"